/* *** [Animations] *** */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.container-main {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.card {
  background-color: aliceblue;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: all .5s ease-in;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 5px 10px rgba(51, 51, 51, 0.25);
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  background: #047aed;
  transition: transform 350ms ease-in;
}

.btn:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 10px rgba(51, 51, 51, 0.2);
}

.btn:active {
  transform: scale(0.98);
}

.btn-outline {
  background-color: transparent;
  border: 1px aliceblue solid;
}

/* *** Backgrounds & Colored buttons *** */
.bg-primary, .btn-primary {
  background-color: #047aed;
  color: aliceblue;
}

.bg-secondary, .btn-secondary {
  background-color: #ff9100;
  color: aliceblue;
}

.bg-dark, .btn-dark {
  background-color: #333;
  color: aliceblue;
}

.bg-light, .btn-light {
  background-color: aliceblue;
  color: #333;
}

/* *** [Text Colors] *** */
.text-primary {
  color: #047aed;
}

.text-secondary {
  color: #ff9100;
}

.text-dark {
  color: #333;
}

.text-light {
  color: aliceblue;
}

.text-gray {
  color: #4d4d4d;
}

/* *** [Text Sizes] *** */
.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.text-center {
  text-align: center;
}

/* *** [Alert] *** */
.alert {
  margin: 15px 0;
  padding: 10px 20px;
  font-weight: bold;
  background: aliceblue;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.alert i {
  background-color: #ff9100;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10%;
}

.alert-success {
  background-color: #5cb85c;
  color: aliceblue;
}

.alert-error {
  background-color: #d9534f;
  color: aliceblue;
}

.alert-tip {
  background-color: #d8ebfe;
  border: 1px solid #047aed;
}

.alert-tip i {
  color: aliceblue;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 20px;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* *** [Padding] *** */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

/* *** [Margin] *** */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: aliceblue;
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  font-size: 20px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #1087fb;
}

h1,
h2 {
  font-weight: 700;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  max-width: 60%;
  line-height: 1.4;
  color: #4d4d4d;
}

img {
  max-width: 50%;
  height: auto;
}

code, pre {
  padding: 1rem;
  font-size: 1rem;
  color: aliceblue;
  background: #333;
}

.main-section {
  position: relative;
}

.main-section::before {
  content: '\f02f';
  position: absolute;
  top: 5%;
  right: 5%;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 1.2rem;
  color: #595959;
}

.main-section::before:hover {
  color: #ff9100;
}

/* *** Navigation *** */
#navbar {
  position: fixed;
  top: 0;
  height: 100%;
  overflow: auto;
  transform: translateX(-90%);
  transition: all .5s ease-in;
}

#navbar button {
  position: absolute;
  top: 0;
  right: 0;
  color: aliceblue;
  font-size: 1.2rem;
  border: 0;
  background-color: transparent;
  z-index: 5;
}

#navbar button:hover {
  color: #d9534f;
}

#navbar .nav-container {
  position: relative;
  transition: all .5s ease-in;
}

#navbar .nav-container h4 {
  margin: .5rem 0;
}

#navbar .nav-container h5 {
  margin: .25rem 0;
}

#navbar .nav-container .nav-link {
  position: relative;
}

#navbar .nav-container .nav-link:visited {
  color: #ff9100;
}

#navbar .nav-container .nav-link::after {
  content: '\f0da';
  position: absolute;
  top: 1.2rem;
  right: .5rem;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: aliceblue;
  transition: all .5s ease-in;
}

#navbar .nav-container .left-container {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: all .5s ease-in;
}

#navbar .nav-container .left-container a {
  color: #a4d4ff;
}

#navbar .nav-container.open .left-container {
  height: auto;
  overflow: auto;
  padding: .25rem .5rem .5rem;
}

#navbar .nav-container.open .nav-link::after {
  transform: rotateZ(90deg);
}

#navbar ul li:nth-of-type(6),
#navbar ul li:nth-of-type(8) {
  transition: none;
}

#navbar ul li:nth-of-type(6) .nav-link::after,
#navbar ul li:nth-of-type(8) .nav-link::after {
  content: '';
}

#navbar.open {
  transform: translateX(0);
}

/* *** Main-Docs *** */
#getting-started {
  position: relative;
  /* *** Beginning Animation *** */
}

#getting-started img {
  position: absolute;
  top: 2.4%;
  right: 1.4%;
  width: 20%;
  animation: slideInFromBottom 1s ease-in;
}

#getting-started .card-container .card {
  margin-bottom: 1rem;
  align-items: center;
  transition: all .5s ease-in;
}

#getting-started .card-container .card p {
  max-width: 80%;
}

#getting-started .header-container h1 {
  animation: slideInFromBottom 1s ease-in;
}

#getting-started .header-container p {
  animation: slideInFromLeft 1s ease-in;
}

#getting-started button.btn-primary {
  animation: slideInFromLeft 1.2s ease-in;
}

#getting-started .guide-container ul:first-of-type {
  animation: slideInFromBottom 1s ease-in;
  animation-delay: .1s;
}

#getting-started .guide-container ul:first-of-type li {
  animation: slideInFromLeft 1s ease-in;
}

#getting-started .guide-container ul:first-of-type li:nth-child(1) {
  animation-delay: 0.2s;
}

#getting-started .guide-container ul:first-of-type li:nth-child(2) {
  animation-delay: 0.4s;
}

#getting-started .guide-container ul:first-of-type li:nth-child(3) {
  animation-delay: 0.6s;
}

#getting-started .guide-container ul:first-of-type li:nth-child(4) {
  animation-delay: 0.8s;
}

#getting-started .guide-container ul:last-of-type {
  animation: slideInFromBottom 1s ease-in;
  animation-delay: .1s;
}

#getting-started .guide-container ul:last-of-type li {
  animation: slideInFromRight 1s ease-in;
}

#getting-started .guide-container ul:last-of-type li:nth-child(1) {
  animation-delay: 0.1s;
}

#getting-started .guide-container ul:last-of-type li:nth-child(2) {
  animation-delay: 0.2s;
}

#getting-started .guide-container ul:last-of-type li:nth-child(3) {
  animation-delay: 0.3s;
}

#getting-started .guide-container ul:last-of-type li:nth-child(4) {
  animation-delay: 0.4s;
}

#getting-started .guide-container ul:last-of-type li:nth-child(5) {
  animation-delay: 0.5s;
}

#getting-started .guide-container ul:last-of-type li:nth-child(6) {
  animation-delay: 0.6s;
}

/* *** Signup *** */
#signup img {
  align-self: center;
}

/* *** Organization *** */
#organization img {
  align-self: center;
  width: 40%;
}

/* *** Archiving *** */
#archiving pre {
  margin: 1.5rem 0;
}

/* *** Collaboration *** */
#collaboration img {
  align-self: center;
  width: 80%;
}

/* *** Languages *** */
#languages .card-container.flex {
  flex-direction: row;
  flex-wrap: wrap;
}

#languages .card-container.flex .card.flex {
  align-items: center;
  margin: 0 .2rem;
}

#languages .card-container.flex .card.flex img {
  width: 100%;
}

/* *** Billing *** */
#billing .card-container.grid {
  justify-items: center;
  align-items: center;
}

#billing .card-container.grid .card {
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-evenly;
}

#billing .card-container.grid .card ul {
  list-style-type: circle;
}

#billing .card-container.grid .card ul li {
  text-align: center;
  margin: .5rem 0;
}

#billing .card-container.grid .card .price.flex {
  align-items: center;
}

/* *** Footer *** */
footer {
  border-top: 1px solid #333;
}

footer .row.grid .flow {
  max-height: 300px;
  align-items: center;
  justify-content: flex-start;
}

footer .row.grid .flow .thumbs {
  flex-direction: row;
  align-items: center;
}

footer .row.grid .flow .thumbs .up, footer .row.grid .flow .thumbs .down {
  padding: .5rem;
  border: 1px solid #047aed;
}

footer .row.grid .flow .thumbs .up {
  margin-right: 1rem;
}

footer .row.flex {
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .row.flex ul {
  margin-bottom: 0;
  flex-direction: row;
}

footer .row.flex ul > * {
  margin-left: .5rem;
}

footer .row.flex ul li a {
  font-size: 12px;
}

/* *** XL and LG screens *** */
@media (max-width: 1400px) {
  #navbar {
    position: fixed;
    background-color: rgba(4, 122, 237, 0.95);
    z-index: 10;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

/* *** MD screens *** */
@media (max-width: 980px) {
  p {
    max-width: 80%;
  }
  #getting-started img {
    top: 10%;
  }
}

/* *** Tablets  *** */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  p {
    max-width: 90%;
  }
  #getting-started img {
    top: 0;
    left: 0;
  }
  #getting-started button.btn-primary {
    align-self: center;
  }
  #getting-started .guide-container,
  #getting-started .card-container {
    grid-template-columns: 1fr;
    justify-items: start;
  }
  #collaboration .cloud-container img {
    max-width: 100%;
  }
  #billing .card-container {
    grid-template-columns: 1fr;
    justify-items: start;
  }
  footer .row.grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  footer .row.grid p {
    max-width: 60%;
  }
  footer .row.flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .row.flex ul {
    order: 1;
    flex-wrap: wrap;
  }
}

/* *** Mobile Devices ** */
@media (max-width: 500px) {
  .container-main {
    padding: 0 1rem;
  }
  p {
    max-width: 95%;
  }
  #navbar {
    background-color: transparent;
    transform: translateX(-93%);
  }
  #navbar button.navbar-button {
    color: #ff9100;
  }
  #navbar.open {
    background-color: rgba(4, 122, 237, 0.98);
  }
  #navbar.open button.navbar-button {
    color: #d9534f;
  }
  #collaboration img {
    width: 100%;
  }
}
