/* *** XL and LG screens *** */
@media (max-width: 1400px) {
	.container,
	#signup .cloud-container.middle {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	#navbar {
		background-color: rgba($main-color, 0.95);
		z-index: 10;
		padding-left: 4rem;
		padding-right: 4rem;
	}
}
@media (max-width: 1200px) {
	.container,
	#signup .cloud-container.middle {
		padding-left: 3.5rem;
		padding-right: 3.5rem;
	}
}

/* *** MD screens *** */
@media (max-width: 980px) {
	p {
		max-width: 70%;
	}
	#getting-started {
		h1 {
			font-size: 4rem;
		}
		img {
			top: 10%;
		}
	}
	#languages {
		.card-container {
			grid-template-columns: repeat(3, 1fr);

			.card:last-child {
				grid-column-end: 3;
			}
		}
	}
	#billing {
		.card-container {
			grid-template-columns: 1fr;
			justify-items: start;

			.card {
				max-width: 30rem;
			}
		}
	}
}

/* *** Tablets  *** */
@media (max-width: 768px) {
	.container {
		display: flex;
		flex-direction: column;
	}
	.header-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	p {
		max-width: 90%;
	}
	#getting-started {
		img {
			top: 0;
			right: 0;
		}
		button.btn-primary {
			align-self: center;
		}
		.guide-container,
		.card-container {
			grid-template-columns: 1fr;
			justify-items: start;
		}
	}
	#collaboration {
		.cloud-container {
			img {
				max-width: 100%;
			}
		}
	}
	footer {
		.row.grid {
			grid-template-columns: 1fr;
			justify-items: center;

			p {
				max-width: 60%;
			}
		}

		.row.flex {
			flex-direction: column;
			align-items: center;
			justify-content: center;

			ul {
				order: 1;
				flex-wrap: wrap;
			}
		}
	}
}

/* *** Mobile Devices ** */
@media (max-width: 500px) {
	.container,
	#signup .cloud-container.middle {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	#getting-started {
		h1 {
			font-size: 3.5rem;
		}
	}
	p {
		max-width: 95%;
	}

	#navbar {
		top: auto;
		bottom: 0;
		width: 100%;
		height: fit-content;
		overflow-y: auto;
		background-color: transparent;
		transform: translateX(-93%);
		box-shadow: 0 0 transparent;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;

		button.navbar-button {
			color: $secondary-color;
			top: auto;
			right: 0.75rem;
			bottom: 0.25rem;
		}
		header {
			order: 2;
		}

		&.open {
			background-color: rgba($main-color, 0.97);

			button.navbar-button {
				color: $error-color;
			}
		}
	}

	#collaboration {
		img {
			width: 100%;
		}
	}
}
